@import '../style/style.less';
.ant-select-dropdown {
  padding: 0px !important;
  .ant-cascader-menus {
    padding: 4px 0px;
    .ant-cascader-menu {
      border-right-color: @bg-page;
      .ant-cascader-menu-item {
        margin: 4px 8px;
        padding: 7px 12px;
        border-radius: @border-radius-base;
        .ant-cascader-menu-item-content {
          margin-right: 16px;
          .ant-cascader-menu-item-keyword {
            color: @primary-color;
            font-weight: 600;
          }
        }
        .ant-cascader-menu-item-expand-icon {
          svg {
            transform: scaleX(0.8);
          }
        }
        &:hover {
          background-color: @bg-page;
          .ant-cascader-checkbox:not(.ant-cascader-checkbox-indeterminate):not(.ant-cascader-checkbox-checked):not(.ant-cascader-checkbox-disabled) {
            .ant-cascader-checkbox-inner {
              border-color: @radio-checkbox-hover-color;
              box-shadow: 0 0 0 1px @radio-checkbox-hover-color;
            }
          }
        }
        &.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled) {
          color: @primary-color;
          font-weight: normal;
          background-color: @theme-lightcolor;
          .ant-cascader-menu-item-expand-icon,
          .ant-cascader-menu-item-loading-icon {
            color: #80b0ff;
          }
        }
        &.ant-cascader-menu-item-disabled {
          color: @text-color-placeholder;
          .ant-cascader-menu-item-expand-icon {
            color: @border-component-hover;
          }
        }
      }
    }
  }
}
