@import '../style/index.less';

.ant-checkbox-wrapper {
  font-family: @primary-font-family;
  &:hover {
    .ant-checkbox-inner {
      border-color: @radio-checkbox-hover-color;
    }
  }
  &.ant-checkbox-wrapper-checked {
    &:hover {
      .ant-checkbox-inner {
        border-color: @primary-color;
      }
    }
  }
  .ant-checkbox-indeterminate {
    .ant-checkbox-inner {
      background-color: @primary-color;
      border-color: @primary-color;
      &::after {
        height: 2px;
        background-color: @bg-container-1;
      }
    }
  }
  .ant-checkbox.ant-checkbox-disabled .ant-checkbox-inner {
    background-color: @bg-page;
    border-color: @border-component !important;
    &::after {
      border-color: @text-color-placeholder;
    }
  }

  .ant-checkbox.ant-checkbox-disabled.ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: @bg-page;
    border-color: @border-component !important;
    &::after {
      background-color: @text-color-placeholder;
      border-color: @text-color-placeholder;
    }
  }
}
