@import '../style/style.less';

.ant-btn {
  height: 40px;
  padding: 4px 16px;
  font-weight: 600;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background: @primary-color-hover;
  border-color: @primary-color-hover;
}

.ant-btn-primary:active {
  color: #fff;
  background: @primary-color-active;
  border-color: @primary-color-active;
}
.ant-btn-dangerous.ant-btn-primary:hover,
.ant-btn-dangerous.ant-btn-primary:focus {
  color: #fff;
  background: @error-color-hover;
  border-color: @error-color-hover;
}

.ant-btn-dangerous.ant-btn-primary:active {
  color: #fff;
  background: @error-color-active;
  border-color: @error-color-active;
}

// disable
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:active,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:hover {
  color: #fff;
  background-color: #b3d1ff;
}

.ant-btn-dangerous.ant-btn-primary[disabled],
.ant-btn-dangerous.ant-btn-primary[disabled]:active,
.ant-btn-dangerous.ant-btn-primary[disabled]:focus,
.ant-btn-dangerous.ant-btn-primary[disabled]:hover {
  color: #fff;
  background-color: #fcbbc0;
}

// default
.ant-btn-default {
  border: 1.5px solid @border-component;
  &:hover,
  &:focus {
    color: @text-color;
    border-color: @text-color-placeholder;
  }
  &:active {
    color: @text-color;
    background-color: @bg-page;
    border-color: @bg-page;
  }
}

// ghost
.ant-btn-ghost {
  color: #fff;
}

// small
.ant-btn-sm {
  height: 32px;
  padding: 4px 12px;
}

// large
.ant-btn-lg {
  height: 58px;
  padding: 4px 24px;
  border-radius: 10xp;
}

// text
.ant-btn-text {
  &:hover {
    background-color: @bg-page;
  }
  &:active {
    background-color: @border-component;
  }
}
