@import '../style/style.less';

.ant-transfer {
  font-family: @primary-font-family;
  .ant-transfer-list {
    width: 256px;
    height: 256px;
    border: 1px solid @border-component;
    border-radius: 10px;
  }
  .ant-transfer-list-header {
    padding: 12px 24px;
    color: @text-color-3;
    background-color: @bg-page;
    border-radius: 10px 10px 0px 0px;
    .anticon.anticon-down.ant-dropdown-trigger.ant-transfer-list-header-dropdown {
      height: 36px;
      margin-right: 6px;
      margin-left: 4px;
      line-height: 40px;
      transform: scale(1.2, 1);
      svg {
        transform: scale(1, 0.8);
      }
    }
    .ant-transfer-list-header-title {
      color: @text-color-placeholder;
    }
  }
  .ant-transfer-list-body {
    padding: 8px;
    border-radius: 0px 0px 10px 10px;
    &.ant-transfer-list-body-with-search {
      .ant-transfer-list-body-search-wrapper {
        padding: 0px 0px 8px 0px;
        .ant-input-affix-wrapper.ant-transfer-list-search {
          height: 32px;
        }
      }
    }
    .ant-pagination.ant-transfer-list-pagination {
      display: flex;
      align-items: center;
      padding: 8px 8px 12px 15px;
      text-align: left;
      border: none;
    }
    .ant-pagination {
      > li,
      .ant-pagination-item:not(.ant-pagination-item-active),
      .ant-pagination-prev .ant-pagination-item-link,
      .ant-pagination-next .ant-pagination-item-link {
        border-radius: 3px;
        svg {
          fill: @text-color-3;
        }
      }
      &.ant-pagination-simple {
        .ant-pagination-simple-pager {
          color: @text-color-placeholder;
          input {
            margin-right: 4px;
            color: @text-color;
            border-radius: 3px;
            &:hover {
              border-color: @input-normal-color-hover;
              box-shadow: 0 0 0 2px @input-normal-color-hover;
            }
            &:focus {
              border-color: #80caff;
              box-shadow: 0 0 0 3px @input-normal-color-hover;
            }
          }
          .ant-pagination-slash {
            margin: 0 4px 0 5px;
            color: @text-color-placeholder;
          }
        }
      }
    }
  }

  .ant-transfer-list-content-item {
    height: 40px;
    padding: 12px 16px;
    color: @text-color;
    border-radius: 5px;
    &:hover {
      background-color: @bg-page;
      // .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
      // border-color: @radio-checkbox-hover-color;
      // }
    }
    &.ant-transfer-list-content-item-disabled {
      color: @text-color-placeholder;
    }
    &.ant-transfer-list-content-item-checked {
      background-color: @bg-container-1;
      &:hover {
        background-color: @bg-page;
        .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
          border-color: @primary-color;
        }
      }
    }
  }

  .ant-transfer-operation {
    .ant-btn {
      background-color: @primary-color;
      border: 1.5px solid @primary-color;
      border-radius: 5px;
      box-shadow: none;
      &:hover {
        background-color: @primary-color-hover;
        border: 1.5px solid @primary-color-hover;
      }
      svg {
        transform: scaleX(0.8);
        fill: @bg-container-1;
      }
      &[disabled] {
        background-color: @bg-page;
        border-color: @border-component;
        svg {
          fill: @text-color-placeholder;
        }
      }
    }
  }
}
