@import '../style/style.less';

.ant-tag {
  padding: 0 10px;
  line-height: 24px;
  background-color: @bg-page;
}
.ant-tag-close-icon {
  margin-left: 8px;
}
.ant-tag-success {
  color: @text-color-success;
  background: #e4f7eb;
  border: 1px solid #d5f2e2;
  .ant-tag-close-icon {
    color: @text-color-success;
  }
}

.ant-tag-processing {
  color: @text-color-theme;
  background: @theme-lightcolor;
  border: 1px solid @theme-lightcolor-hover;
  .ant-tag-close-icon {
    color: @text-color-theme;
  }
}

.ant-tag-error {
  color: @text-color-error;
  background: #ffebec;
  border: 1px solid #ffd9dc;
  .ant-tag-close-icon {
    color: @text-color-error;
  }
}

.ant-tag-warning {
  color: #c77f14;
  background: #faf4e1;
  border: 1px solid #f7ebc1;
  .ant-tag-close-icon {
    color: #c77f14;
  }
}

.anticon-close .ant-tag-close-icon {
  position: relative;
  top: -0.5px;
}
